[user]
	name = stayhigh
	email = stayhigh@github.com
[color]
	diff = auto
	status = auto
	branch = auto
	log = auto
[merge]
	tool = vimdiff
[core]
	editor = vim
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
